.navigation{
    background-color:#2a2a2a;
}


.first{
    color: wheat;
    font-family: sans-serif; 
    font-size: 2rem; 
    color: wheat; 
    text-shadow: #080808 2px 2px; 
    letter-spacing: 0.2rem; 
    word-spacing: 0.4rem;
}

.second{
    font-family: serif;
    font-size: 8rem; 
    color: #ffffff; 
    text-shadow: black 8px 8px; 
    letter-spacing: 0.7rem; 
    word-spacing: 1.2rem;
    padding: 2rem;
}

.third{
    font-family: sans-serif; 
    font-size: 3rem; 
    color: wheat; 
    text-shadow: #080808 2px 2px; 
    letter-spacing: 0.2rem; 
    word-spacing: 0.4rem;
}

.features-box{
    box-shadow: #080808 2px 2px;
    gap: 20px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.features{
    background-color: wheat;
    font-family: sans-serif;
}

.sub-heading{
    font-size: 3rem;
    color: #2a2a2a;
    font-family: serif;
}

.products-services{
    font-family: sans-serif;
    background-color: #bbbbbb;
    border-top: 1px solid black;
    padding-bottom: 1em;
}

.prod-heading{
    color: #2a2a2a;
    font-family: serif;
}

.tile{
    background-color: wheat;
    border: 0.1px solid #2a2a2a;
    border-radius: 2rem;
    width: 33%;
}

.caru{
    height: 700px;
    border: 5px solid black;
    border-radius: 25px;
}

.photo-gallery{
    background-color: wheat;
    border-top: 2px solid black;
    font-family: sans-serif;
    padding: 5px;
}

.photo-gallery h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.mob{
    display: none;
}

.insta-btn{
    font-weight: bold;
    transition: 0.5s ease-in-out
}

.insta-btn:hover {
    background-image: linear-gradient(to right,#f9ce34,#ee2a7b,#6228d7);
    color: white;
    border-radius: 25px;
}

.features-svg{
    transition: 0.2s ease-in;
}

.features-svg:hover{
    height: 2em;
    width: 2em;
}

.testimonial{
    border-top: 2px solid black;
    background-color: #bbbbbb;
}

.test{
    background-color: wheat;
}

.test-img{
    border: 3px solid white;
    transition: 200ms ease-in-out;
}

.test-img:hover{
    border:3px solid black;
}

.ContactUs{
    padding: 1rem;
    background-color: wheat;
    color: black;
    border-top: 2px solid black;
}

.ContactUs h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

.test-desc{
    animation: Text-anim 2s ease-in-out infinite;
}

.insta-svg{
    height: 2em;
    width: 2em;
}

.facebook-btn{
    font-weight: bold;
    transition: 0.5s ease-in-out;
}


.facebook-svg{
    height: 2em;
    width: 2em;
}

.facebook-btn:hover {
    background-color: #6228d7;
    color: white;
    border-radius: 25px;
}

.whatsapp-btn{
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.whatsapp-svg{
    height: 2em;
    width: 2em;
}

.whatsapp-btn:hover {
    background-color: #25d366;
    color: white;
    border-radius: 25px;
}

.gmail-btn{
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border-color: red;
}

.gmail-svg{
    height: 2em;
    width: 2em;
}

.gmail-btn:hover {
    background-color: #C71610;
    color: white;
    border-radius: 25px;
}

.phone-svg{
    height: 1em;
    width: 1em;
}


@keyframes Text-anim {
    0%{
        color: silver;
    } 25%{
        color: black;
    } 75%{
        color: black;
    } 100%{
        color: silver;
    }
}

